In [1]:
import pandas as pd

In [3]:
products_df = pd.read_csv('products.csv')
sales_df = pd.read_csv('sales.csv')
print("Products Data : ")
print(products_df)
print("\nSales Data :")
print(sales_df)

Products Data :
    sku    name  current_price  cost_price  stock
0  A123  Item A         649.99       500.0    150
1  B456  Item B         699.00       550.0     15
2  C789  Item C         999.00       500.0    250

Sales Data :
    sku  quantity_sold
0  A123             10
1  B456             35
2  C789              0

In [5]:
merged_df = pd.merge(products_df,sales_df,on='sku')
merged_df

    sku    name  current_price  cost_price  stock  quantity_sold
0  A123  Item A         649.99       500.0    150             10
1  B456  Item B         699.00       550.0     15             35
2  C789  Item C         999.00       500.0    250              0

In [7]:
def apply_pricing_rules(row):
    old_price = row['current_price']
    cost_price = row['cost_price']
    stock = row['stock']
    quantity_sold = row['quantity_sold']
    new_price = old_price

    if stock < 20 and quantity_sold > 30:
        new_price = old_price * 1.15

    elif stock > 200 and quantity_sold == 0:
        new_price = old_price * 0.70

    elif stock > 100 and quantity_sold < 20:
        new_price = old_price * 0.90

    min_price = cost_price * 1.2
    if new_price < min_price:
        new_price = min_price

    return round(old_price, 2), round(new_price, 2)

In [9]:
merged_df[['old_price', 'new_price']] = merged_df.apply(apply_pricing_rules, axis=1, result_type='expand')

merged_df['old_price'] = merged_df['old_price'].apply(lambda x: f"{x:.2f} INR")
merged_df['new_price'] = merged_df['new_price'].apply(lambda x: f"{x:.2f} INR")

output_df = merged_df[['sku', 'old_price', 'new_price']]
output_df

    sku   old_price   new_price
0  A123  649.99 INR  600.00 INR
1  B456  699.00 INR  803.85 INR
2  C789  999.00 INR  699.30 INR

In [11]:
output_df.to_csv('updated_prices.csv', index=False)
print("updated_prices.csv has been created successfully!")

updated_prices.csv has been created successfully!